<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tareas - Portal Clase 1114</title>
</head>
<body>
    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/informacion">Informacion</a></li>
            <li><a href="/recursos">Recursos</a></li>
            <li><a href="/tareas">Tareas</a></li>
            <li><a href="/inscripcion">Inscripcion</a></li>
        </ul>
    </nav>

    <h1>Tareas Entregables</h1>
    
    <table border="1">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Titulo</th>
            <th>Fecha entrega</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.numero }}</td>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.fecha }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>